.infoLinha{
    padding: 2.8125rem;
}
.title{
    background: var(--box-color);
    padding: .9375rem;
    width: 100%;
    margin: 1.5625rem 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title select{
    background: transparent;
    border: 1px solid #292d59;
    border-radius: 8px;
    outline: 0;
    padding: .5rem 1rem;
    color: var(--white-color);
    -webkit-appearance: none; -moz-appearance: none;
}
.title option{
    background: var(--box-color);
}
.title h5{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0 auto;
}
.title button{
    background: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: .875rem;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}
.title button:hover{
    text-decoration: underline;
}

.date-clock h6{
    font-size: .875rem;
    color: var(--color-primary);
    font-weight: 500;
    text-transform: uppercase;
}
.hours{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: .9375rem 0;
}
.hour{
    padding: .5rem 1rem;
    background: #1B1C35;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    width: fit-content;
    color: var(--white-color);
    font-weight: 500;
}
.hour.active{
    background: var(--linear-color);
    box-shadow: var(--neon-btn);
}
.barrier{
    width: 100%;
    height: 1px;
    margin: 1.5625rem 0;
    background: #1B1C35;
}
.locate-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30;
}
.locate-box #map{
    display: none;
    margin-top: 1.25rem;
    border-radius: 8px;
}
.locate-wrapper.active{
    display: flex;
}
body.box-active{
    overflow-y: hidden;
}
.locate-box{
    position: relative;
    background: var(--box-color);
    border-radius: 22px;
    padding: 45px;
    max-width: 855px;
    width: 100%;
    z-index: 30;
}
.locate-box .closeIcon{
    position: absolute;
    color: var(--white-color);
    font-size: 1.875rem;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.bus-icon{
    color: var(--color-primary);
    font-size: 2rem;
    transition: transform 1s linear;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  display: none !important;
}