.barrier{
    width: 100%;
    height: 1px;
    background: #1B1C35;
    margin: .9375rem 0;
}
.settings-content{
    display: flex;
    gap: 50px;
}
.sidebar{
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-link{
    padding: .625rem .9375rem;
    max-width: 250px;
    text-align: left;
    font-size: .9375rem;
    font-weight: 500;
    color: var(--white-color);
    background: var(--bg-color);
    width: 100%;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.sidebar-link.active{
    border-left: 3px solid var(--color-primary);
    background: #141528;
}
.settings-profile, .settings-payments{
    display: none;
}
.settings-profile.active, .settings-payments.active{
    display: block;
}
.settings-profile .photo img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
.settings-profile .profile-content{
    display: flex;
    align-items: center;
    gap: 15px;
}
.settings-profile .photo{
    position: relative;
    cursor: pointer;
}
.settings-profile .photo .bx{
    position: absolute;
    right: 2px;
    bottom: 5px;
    padding: .3125rem;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: .75rem;
    color: #fff;
}
.profile-content .name span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
}
.profile-content .name p{
    font-size: calc(12px + 1px);
    color: #C1C1C1;
}
.settings-profile form{
    margin-top: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.input-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.input-box{
    max-width: 15.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-box label{
    font-size: .75rem;
    color: var(--white-color);
    font-weight: 500;
}
.input-box input{
    max-width: 15.625rem;
    width: 100%;
    background: #1B1C35;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: var(--white-color);
    border: 0;
    outline: 0;
    padding: .3125rem .625rem;
    font-size: .875rem;
}
.input-box input[type="date"]::-webkit-inner-spin-button,
.input-box input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.input-pass{
    position: relative;
    display: flex;
    align-items: center;
}
.input-pass .bx{
    position: absolute;
    right: 10px;
    font-size: 1rem;
    color: var(--white-color);
    cursor: pointer;
}
.settings-profile form button{
    border-radius: 5px;
    background: var(--linear-color);
    box-shadow: var(--neon-btn);
    font-size: .875rem;
    color: var(--white-color);
    font-weight: 500;
    padding: .625rem 1.375rem ;
    width: fit-content;
    border: 0;
    outline: 0;
    transition: opacity 300ms;
    cursor: pointer;
}
.settings-profile form button:hover{
    opacity: 0.8;
}

.settings-payments{
    max-width: 800px;
    width: 100%;
}
.methods-box{
    background: var(--box-color);
    border-radius: 8px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5625rem 1.875rem;
}
.methods-box h5{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.methods-box .subtitle{
    font-size: .875rem;
    font-weight: 500;
    color: #C1C1C1;
    margin: .9375rem 0 .625rem;
}
.methods{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}
.method{
    max-width: 180px;
    width: 100%;
    border-radius: 8px;
    background: #1A1D3F;
    padding: .625rem .9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.method img{
    width: 55px;
    height: 55px;
    background: var(--box-color);
    padding: .625rem;
    border-radius: 50%;
}
.method span{
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    margin: .9375rem 0 .625rem;
}
.method button{
    border: 0;
    outline: 0;
    background: var(--linear-color);
    box-shadow: var(--neon-btn);
    border-radius: 3px;
    cursor: pointer;
    padding: .3125rem;
    width: 100%;
    font-size: .875rem;
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
}
.add-method{
    margin-top: 25px;
    font-size: .875rem;
    color: var(--white-color);
    font-weight: 600;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    padding: .625rem .9375rem;
    background: var(--linear-color);
    box-shadow: var(--neon-btn);
    border-radius: 3px;
    cursor: pointer;
}

.payments{
    margin-top: 2.5rem;
}
.payments small{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary);
}
.payments-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: .9375rem;
}
.payment-box{
    max-width: 600px;
    width: 100%;
    background: var(--box-color);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    padding: .9375rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-box .name,
.payment-box .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment-box .name span{
    font: 400 1rem 'Righteous', sans-serif;
    color: var(--white-color);
}
.payment-box .name h4{
    font-size: 1.125rem;
    color: var(--color-primary);
}
.payment-box .details p{
    font-size: .875rem;
    color: var(--white-color);
}
.payment-box .details p span{
    color: #C1C1C1;
}


.methodSettings-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30;
}
.methodAdd.active,
.methodEdit.active{
    display: flex;
}
.addMethod{
    position: relative;
    background: var(--box-color);
    border-radius: 1rem;
    padding: 35px 45px;
    max-width: 445px;
    width: 100%;
}
.addMethod .closeIcon{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.5625rem;
    cursor: pointer;
    color: var(--white-color);
}
.addMethod h3{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 1.875rem;
}
.addMethod form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addMethod label{
    font-size: .875rem;
    font-weight: 500;
    color: var(--white-color);
}
.addMethod .input{
    position: relative;
    display: flex;
    align-items: center;
}
.addMethod .input .bx{
    position: absolute;
    right: 16px;
    font-size: 1.25rem;
    color: #C1C1C1;
    cursor: pointer;
}
.addMethod .input select{
    width: 100%;
    padding: .5rem 1rem;
    border: 0;
    outline: 0;
    font-size: .875rem;
    cursor: pointer;
    color: var(--white-color);
    -webkit-appearance: none;
    border-radius: 5px;
    background: #1A1D3F;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}
.addMethod .btn{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--linear-color);
    box-shadow: var(--neon-btn);
    border: 0;
    outline: 0;
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
}

.info-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.info-list span{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: .875rem;
    color: var(--white-color);
    font-weight: 500;
}
.info-list span p{
    color: #C1C1C1;
    font-weight: 400;
}
.addMethod .changeAcc{
    font-size: .875rem;
    color: var(--white-color);
    margin: .9375rem 0;
}
.addMethod .changeAcc a{
    text-decoration: underline;
    color: var(--color-primary);
}
.btn.remove{
    background: #FF2424;
    box-shadow: 1px 1px 10px 2px rgba(255, 36, 36, 0.25);
}
