.colors{
    display: flex;
    align-items: center;
    gap: 10px;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
}
.color.active{
    border: 2px solid var(--color-primary);
}
.color.roxo{
    background: #b901d1;
}
.color.branco{
    background: #fff;
}