/* Google Fonts - Poppins & Righteous & Pacifico */ 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&family=Righteous&display=swap');

*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

:root{
    --bg-color: #101122;
    --white-color: #fff;
    --color-primary: #293FFF;
    --color-active: #4859F2;
    --box-color: #151732;
    --section-color: #12132D;

    --linear-color: linear-gradient(236deg, #374BFE -3.3%, #293FFF 71.68%);

    --neon-btn: 1px 1px 10px 2px rgba(72, 89, 242, 0.35);
}

body{
    background: var(--bg-color);
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    margin: 2.8125rem 0;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading small{
    font-size: 1rem;
    color: var(--color-primary);
    font-weight: 500;
}
.heading h5{
    font-family: 'Righteous', sans-serif;
    font-size: 1.125rem;
    color: var(--white-color);
    font-weight: 400;
}

/* NAVBAR */
.logo{
    font-family: 'Pacifico', sans-serif;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    font-size: 1.5625rem;
}
.logo .bx{
    font-size: 1.5625rem;
    background: linear-gradient(#293FFF, #091ED7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 0;
}
.btn-actions{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3926e3;
    z-index: 2;
}
.profile span{
    position: relative;
    z-index: 1;
    right: 8px;
    background-color: #151732;
    font-size: .9375rem;
    color: #fff;
    font-weight: 500;
    border-radius: 0 5px 5px;
    padding: 5px 15px 5px 15px;
}
.btn-actions .btn-join{
    background: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: .625rem 1.5625rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.sub-profile-wrapper{
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    background: var(--box-color);
    width: 250px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.sub-profile-wrapper.active{
    display: block;
}
.profile-box{
    padding: .625rem 1rem;
    transition: background 300ms linear;
}
.profile-box:hover, 
.profile-box:hover .profile-link{
    background: #1a1c38;
    color: #fff;
}
.profile-box .profile-link{
    color: #C1C1C1;
    text-decoration: none;
    transition: color 300ms;
}

/* HOME */
.home{
    padding-top: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
.home-content{
    max-width: 575px;
    width: 100%;
}
.home-content h4{
    font-family: 'Righteous', sans-serif;
    font-size: 1.375rem;
    color: var(--white-color);
    font-weight: 400;
}
.home-content p{
    color: #949499;
    font-size: 1rem;
    text-align: justify;
    margin-top: .9375rem;
}

.linhas{
    background: var(--section-color);
    padding: 3.75rem 0;
}
.linhas-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 1.5625rem;
}
.linha-box{
    max-width: 310px;
    width: 100%;
    padding: .9375rem 1.5625rem;
    background: var(--box-color);
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}
.line{
    height: 42px;
    width: 2px;
    background: var(--color-primary);
}
.linha-box .bx{
    font-size: 1.5625rem;
    color: var(--white-color);
}
.linha-box .name{
    font-size: .875rem;
    font-weight: 500;
    color: var(--white-color);
}
.linha-box span{
    font-size: .875rem;
    color: #C1C1C1;
}

.premium{
    display: flex;
    align-items: center;
    gap: 55px;
}
.premium img{
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}
.premium-content{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.premium-content h5{
    font-family: 'Righteous', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-color);
}
.premium-content h3{
    font-size: 1.5625rem;
    font-weight: 600;
    color: var(--color-primary);
}
.premium-content span{
    font-size: 1rem;
    color: #555556;
}
.premium-content p{
    font-size: .875rem;
    color: #C1C1C1;
    text-align: justify;
}
.premium-content .btn{
    padding: .9375rem 2.1875rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    background: var(--color-primary);
    box-shadow: var(--neon-btn);
    text-transform: uppercase;
    width: fit-content;
    border-radius: 5px;
    margin-top: .625rem;
}

footer{
    text-align: center;
    font-size: 1rem;
    color: var(--white-color);
    padding: 4.375rem 0 1.5625rem;
}

@media (max-width: 1210px) {
    .container{
        width: 90%;
    }
}

@media (max-width: 1125px) {
    .support{
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 1000px) {
    .premium img, .signature-card img{
        width: 100%;
    }
}

@media(max-width: 916px) {
    .settings .input-box,
    .settings .input-box input{
        max-width: none;
    }
}
@media(max-width: 800px) {
    .home{
        flex-direction: column;
    }
    .premium{
        flex-direction: column;
    }
    .infoLinha .title{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .settings-content{
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .payment-box .name,
    .payment-box .details{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .home img{
        width: 450px;
    }
    .support-wrapper{
        right: 0;
    }
}
@media (max-width: 550px) {
    .buy-title{
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width: 420px) {
    .home img{
        width: 400px;
    }
    .infoLinha .title{
        flex-direction: column;
    }
    .andress-input input{
        max-width: none;
        width: 100%;
    }
}

@media(max-width: 400px) {
    .logo{
        display: none;
    }
    .home img{
        display: none;
    }
    .linha-box{
        max-width: 350px;
        width: 100%;
    }
    .premium img{
        display: none;
    }
    .btn-actions{
        margin-left: auto;
    }
}