/* Google Fonts - Poppins & Righteous & Pacifico */ 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&family=Righteous&display=swap');

*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

:root{
    --bg-color: #101122;
    --white-color: #fff;
    --color-primary: #293FFF;
    --color-active: #4859F2;
    --box-color: #151732;
    --section-color: #12132D;

    --linear-color: linear-gradient(236deg, #374BFE -3.3%, #293FFF 71.68%);

    --neon-btn: 1px 1px 10px 2px rgba(72, 89, 242, 0.35);
}

body{
    background: var(--bg-color);
}